body {
    margin: 0;
}
/* inizio header */
header {
    background-image: url(../imgs/pattern.png); 
    background-size: 400px;
    background-color: #4EA0FF; 
    height: 100px;
}

#img-logo {
    margin-top: 40px;
    width: 200px;
    margin-left: 50px;
}

/* inizio main */
.section, footer {
    margin-left: 50px;
    margin-right: 50px;
}

h1{
    font-size: 60px;
    margin-top: 10px;
}

h1, h4 {
    margin-bottom: 0;
}

h4, h6 {
    margin-top: 0;
    color: #7F7F7F; 
}

#nome-scrittore {
    color: #20A9E4;
}S

.descrizione-foto {
    font-size: 10px;
}

p > span{
    background-color: #FFFF00 ;
}

table{
    align-items: left;
    border-collapse: collapse;
}

thead {
    background-color: #4EA0FF;
    color: white;
    text-align: left;
}

.riga-colorata {
    background-color: #B1E5F2;
}

.td-3 {
    width: 50%;
}

/* inizio footer */
#immagine1-footer {
    background-image: url(../imgs/monitor.jpg);
}

#immagine2-footer {
    background-image: url(../imgs/graph.jpg);
}

h3 {
    margin-left: 10px;
}

footer > div {
    color: white;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 200px;
}
